
/* Tag Selectors */

h1 {
  text-align: left;
  color: #665d58;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bold;
}
h2 {
  margin: 10px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: normal;
  color: #ffffff;
}
h3 {
  margin: 10px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bold;
  color: #665d58;
}
body {
  background: #665d58 url(http://www.clipartbest.com/cliparts/dc7/6oo/dc76ooRc9.png) no-repeat;
  background-position: 0px 5px; 
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* Class Selectors */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
.intro {
    background-color:#665d58; 
    color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 400%;
    text-align:center;
    margin: 100px 250px 100px 250px;
    border-width: 2px;   
    border-color:white;  
    border-style:solid; 
}
.heading {
    margin: 025px 10px 0px 10px; 
    background-color:#fa2021;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    border-radius: 20px;
    border-width: 8px;    
}
.stage {
    background-color:#65c5c4;
    padding:10px;
    margin: 10px;
    color: #fefffd;
    margin: 0px 25px 0px 25px; 
    
}
.topic {
    line-height:30px;
    background-color:#fefffd;
    padding:5px;
    border-radius: 20px;
    color: #665d58;
    margin: 10px 10px 10px 10px; 
}

.footer {
    margin: 25px 10px 0px 10px; 
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
